.class_ql
{
    width: 15em;
    height: 16.5em;
    background-color: greenyellow;
    overflow-wrap: normal;
    margin: 1em;
}

#title
{
    display: inline;
    font-size: large;
    font-weight: bold;
}

#department
{
    font-size: medium;
    font-weight: lighter;
}

#description
{
    height: fit-content;
    width: fit-content;
    font-size: 1vw;
}